* {
	font-family: "Courier New", Courier, monospace;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#password {
	border: 1px solid #b6b6b6;
	width: 550px;
	height: 30px;
	font-size: 14px;
}
